/* shared style */
body{
    
    font-family: "Open Sans", sans-serif;
  }

.text-title{
    color: #FD6E0A;
}

.btn-primary
{
    border-radius: 5px;
    border: 0;
    background: #FD6E0A;
    color:white;
    font-size: 15px;
    font-weight: 700;
    padding: 12px 32px;
    
}

.btn-secondary
{
    border-radius: 5px;
    border-width: 1px;
    border-color: #FD6E0A;
    background: transparent;
    color: #FD6E0A;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 32px;
    
}

/* nav related design */
header{
    background-color: #FFF8F3 ;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

.nav-title{
    color: #181818;
    font-size: 40px;
    font-weight: 800;
}

nav > ul{
    display: flex;
    align-items:center;
}

nav li{
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}

.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bannner-content{
    max-width: 500px;
}

.banner .profile-pic{
   width: 500px;
}
.banner-greetings{
   color: #474747;
   font-size: 45px;
   margin-bottom: -5px; 
}

.banner-title{
    font-size: 65px;
    margin-bottom: 5px; 
 }

 .banner-des{
    margin-bottom:20px;
    color:rgb(101, 99, 99);
 }

 /* main part styles */

 /* about section styles */

main{
    max-width: 1140px;
    margin: 50px auto;
}

.about{
   background-color: #FFF8F3;
   padding: 50px 60px;
 }

 .section-title{
    text-align: center;
    padding-bottom: 5px ;
    font-size: 30px;
   
 }

 .about-des{
    text-align: center;
    font-size:15px;
    color:rgb(101, 99, 99);  
 }

 .about-info-container{
    display: flex;
    justify-content: space-between;
    padding-top:5px;
 }
 .about-info{
    align-items: center;
 }

 .info-title{
    font-size:15px;
    font-weight:500;
    color:rgb(101, 99, 99);
 }

 .info-description{
    font-size: 15px;
    font-weight:700;
    
 }